{% extends 'base.html' %}

{% block body %}

<div class="row top-buffer">
      <div class="col-xs-4 col-xs-offset-4 back-input">
        <form action='http://trans1.ors.o56.ru/' method='POST'> {% csrf_token %}
          <fieldset>
            <legend>trans_1</legend>
            <div class="form-group">
              <label for="inputIp">luminato</label>
              <input id="inputIp" name='ip' placeholder="Введите ip" class="form-control">
            </div>
            <div class="form-group">
              <label for="inputModule">Модуль</label>
              <input id="inputModule" name='module' placeholder="Введите модуль" class="form-control">
            </div>
            <div class="form-group">
              <label for="inputCID">ID</label>
              <input id="inputCID" name='cid' placeholder="Введите cid" class="form-control">
            </div>
            <button type="submit" class="btn btn-default">Применить</button>
          </fieldset>
        </form>
      </div>
    </div>

{% endblock body %}